<div class="center hero-unit">
	<div class="container">
		<h1><%= t(".welcome") %></h1>

		<h2>
				<%= t('.explaining') %>
		    <a href="https://github.com/jplindgren/testapp">Github</a>
		</h2>

		  <%= link_to t('.sign_up'), signup_path, class: "btn btn-large btn-primary" %><br/>
	</div>
</div>
<div class="container">
	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
</div>